@tailwind base;
@tailwind components;
@tailwind utilities;

/* fix for Alpine users. */
[x-cloak] {
   display: none !important;
}

@layer base {
   * {
      @apply border-border;
   }
   body {
      @apply bg-background text-foreground;
   }

   @layer base {
      .dark {
         --gradient: #a90f4d;
         --background: -26 54.6% 2.88%;
         --foreground: -26 8.4% 96.8%;
         --muted: -26 42% 10.799999999999999%;
         --muted-foreground: -26 8.4% 53.6%;
         --popover: -26 48.2% 4.68%;
         --popover-foreground: -26 8.4% 96.8%;
         --card: -26 48.2% 4.68%;
         --card-foreground: -26 8.4% 96.8%;
         --border: -26 42% 10.799999999999999%;
         --input: -26 42% 10.799999999999999%;
         --primary: -26 84% 36%;
         --primary-foreground: -26 8.4% 96.8%;
         --secondary: -26 42% 10.799999999999999%;
         --secondary-foreground: -26 8.4% 96.8%;
         --accent: -26 42% 10.799999999999999%;
         --accent-foreground: -26 8.4% 96.8%;
         --destructive: 0 62.8% 30.6%;
         --destructive-foreground: -26 8.4% 96.8%;
         --ring: -26 84% 36%;
         --radius: 0.5rem;
      }
   }
}
