@tailwind base;
@tailwind components;
@tailwind utilities;

/* fix for Alpine users. */
[x-cloak] {
   display: none !important;
}

@layer base {
   * {
      @apply border-border;
   }
   body {
      @apply bg-background text-foreground;
   }

   @layer base {
      :root {
         --background: 336 100% 95%;
         --foreground: 336 5% 0%;
         --card: 336 50% 90%;
         --card-foreground: 336 5% 10%;
         --popover: 336 100% 95%;
         --popover-foreground: 336 100% 0%;
         --primary: 336 95.4% 17.1%;
         --primary-foreground: 0 0% 100%;
         --secondary: 336 30% 70%;
         --secondary-foreground: 0 0% 0%;
         --muted: 298 30% 85%;
         --muted-foreground: 336 5% 35%;
         --accent: 298 30% 80%;
         --accent-foreground: 336 5% 10%;
         --destructive: 0 100% 30%;
         --destructive-foreground: 336 5% 90%;
         --border: 336 30% 50%;
         --input: 336 30% 18%;
         --ring: 336 95.4% 17.1%;
         --radius: 0.5rem;
      }
      .dark {
         --background: 336 50% 5%;
         --foreground: 336 5% 90%;
         --card: 336 50% 0%;
         --card-foreground: 336 5% 90%;
         --popover: 336 50% 5%;
         --popover-foreground: 336 5% 90%;
         --primary: 336 95.4% 17.1%;
         --primary-foreground: 0 0% 100%;
         --secondary: 336 30% 10%;
         --secondary-foreground: 0 0% 100%;
         --muted: 298 30% 15%;
         --muted-foreground: 336 5% 60%;
         --accent: 298 30% 15%;
         --accent-foreground: 336 5% 90%;
         --destructive: 0 100% 30%;
         --destructive-foreground: 336 5% 90%;
         --border: 336 30% 18%;
         --input: 336 30% 18%;
         --ring: 336 95.4% 17.1%;
         --radius: 0.5rem;
      }
   }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
   transition: background-color 5000s;
   -webkit-text-fill-color: #fff !important;
}
